h1 {
    color: white;
}

.quiz-container {
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 50px black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-items: center;
}

.title-nav-container {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    height: 10%;
    width: 50%;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;

}

.question-container {
    width: 400px
}

.answer-container {
    margin-top: 5%;
}


nav ul li {
    background-color: white;
    padding: 0.5%;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;

}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    transform: scale(1.5);
    transition-property: font-size;
    transition-duration: 0.3s;
    font-size: 18px;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
}

footer {
    margin-top: 40%;
}

.answer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns with equal width */
    grid-gap: 10px;
    /* Adjust the gap between items as needed */
}

.answer {
    /* Styles for each grid item */
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.quiz-card {
    margin-top: 2%;
    border-radius: 5px;
    
}

@media screen and (max-width: 600px) {
    .answer-container {
        grid-template-columns: 1fr;
    }
}


.first-color {
	background: #A6E4E7;
}
	
.second-color {
	background: #F9F9F9;
}
.third-color {
	background: #EBCBAE;
}
.fourth-color {
	background: #8F8787;
}